# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Plataformas generadas por tool/bootstrap.sh
/android/
/ios/
/web/
/linux/
/macos/
/windows/

# IDE
.idea/
.vscode/
*.iml
*.iws

# Sistema
.DS_Store
